#xmldata {
    background: #fff;
    padding: 6px 12px 6px 10px;
    color: #9ca3af;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    cursor: default;
}

.xml-info0 {
    background: #e5e7eb;
    color: #374151;
    border-left: 4px solid #9ca3af;
    padding-left: 2px;
    cursor: pointer;
}  

.xml-info1 {
    background: #e0f2fe;
    color: #111827;
    border-left: 4px solid #38bdf8;
    padding-left: 2px;
    cursor: pointer;
}

.xml-info2 {
    background: #f3e8ff;
    color: #111827;
    border-left: 4px solid #a855f7;
    padding-left: 2px;
    cursor: pointer;
}

.xml-warning {
    background: #fef3c7;
    color: #111827;
    border-left: 4px solid #f59e0b;
    padding-left: 2px;
    cursor: pointer;
}

.xml-error {
    background: #fee2e2;
    color: #111827;
    border-left: 4px solid #dc2626;
    padding-left: 2px;
    cursor: pointer;
}